<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="header">
      <%- include('../partials/header.ejs') %>
    </div>
    <div class="item">
      <div class="item-title"><%= title %></div>
      <div class="item-thumbnails"></div>
        <% for (thumbnail of thumbnails) { %>
          <img id="item-thumbnail" src="<%= thumbnail %>">
        <% } %>
      </div>
      <% for (category of categories) { %>
        <div class="category-name"><%= category.name %></div>
        <% for (label of category.labels) { %>
          <a class="category-label" href="/list?search=<%= `${category.name}:${label}` %>"><%= label %></a>
        <% } %>
      <% } %>
    </div>
  </body>
</html>